.FooterCont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
}
.NavRight{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #FFFEFE;
    padding: 50px;
}
