.FormCont{
    width: 70%;
    margin: auto;
}
.Title {
    font-size: 28px;
    margin-bottom: 0;
    background-color: transparent;
    color: #A28443;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin: auto;
    text-align: center;
  }
  
  .SubTitle {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #FFFEFE;
    background-color: transparent;
    margin: auto;
    text-align: center;
    margin: 20px auto;
  }
 
  .Usersorm {
    flex-direction: row;
    width: 40%;
    height: auto;
    background-color: #fff;
    padding: 50px;
  }
  .deetailsContainer{
      font-size: 18px;
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      color: #FFFEFE;
      text-align: justify;
      line-height: 28px;
      background-color: transparent
  }
  .details-form {
    flex-direction: row;
    width: 50%;
    height: auto;
    background-color: #fff;
    color:#fff;
    padding: 50px;
  }
  .details-title {
    text-align: left;
  }
  .Dropdown{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #FFFEFE;
      background-color: transparent;
      }
  option{
      color: #fff;
       background-color: #fff; 
  }
  .bgColor{
    background-color: #fff; 

  }
  label {
    float: left;
  }
  .ColTwo ,
  .ColTwoLit{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  .details {
    width: 100%;
    background-color: #f5f6f7;
    padding: 14px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 18px;
    margin-right: 5px;
  }
  .ColTwo #lname {
    width: 25%;
  }
  .ColTwo #fname {
    width: 30%;
    margin-right: 10px;

  }
  
  input[type="submit"],
  .btn {
    color: #A28443;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin: auto;
    text-align: center;
    padding: 10px 100px;
    border: 3px solid #A28443;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    color: #FFFEFE;
    background-color: #A28443;
  }
  input[type="date"]{
    color: #FFFEFE;
    background-color: #fff;

  }
  .Gender{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #FFFEFE;
    background-color: transparent;
  }
  .male, .female{
    color: #FFFEFE;
    background-color: transparent;

  }
  .DOB, 
  .selectSeat{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #FFFEFE;
    background-color: transparent;
  }
  .dateOfBirth{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #000;
    background-color: transparent;

  }
  .SuccessCont{
    background-color: #FFFEFE;
    width: 80%;
    margin: auto; 
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 100px auto;
    min-height: 100vh;
  }
  @media screen and (max-width: 600px) {
    .FormCont{
      width: 95%;
      margin: auto;
  }
  .ColTwo{
    display: flex;
    flex-direction: column;
  }
  .ColTwoLit{
    display: flex;
    flex-direction: row;
  }
  input[type="submit"],
  .btn {
    font-size: 18px;
    /* padding: 10px 70px; */
    width: 100%;
    
  }
  }

  @media screen and (max-width: 420px) {
    .FormCont{
      width: 90%;
      margin: auto;
  }
    .ColTwo{
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    input[type="submit"],
  .btn {
    font-size: 16px;
    /* padding: 10px 70px; */
    width: 100%;
    
  }
  .ColTwoLit{
    display: flex;
    flex-direction: row;
  }
    
  }
  