.SponsorsHeader{
    color: #A28443;
    font-size: 32px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin: auto;
    text-align: center;
    margin: 100px auto;

}
.SponsorsCont{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;

}
.images{
    width: 20%;
    margin: auto;

    
}
@media screen and (max-width: 420px){
    .SponsorsHeader{
        font-size: 25px;
        margin: 50px auto;
    
    }
    .SponsorsCont{
        width: 90%;
        flex-direction: column;
    }
    .images{
        width: 60%;
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 320px){
    
}